# Configuration template for the Wyze Cams running wz_mini_hacks
# Secrets injected via sops exec-env

[ENABLE_RTSP]
# Enable RTSP server (very useful for bringing them into Home Assistant)
ENABLE_RTSP="true"

[RTSP_SERVER]
RTSP_PORT="8554"
RTSP_USERNAME="admin"
RTSP_PASSWORD="${WYZE_PASSWORD}"

[ENABLE_SSH]
# Enable dropbear SSH for remote management
ENABLE_SSH="true"
SSH_PASSWORD="${WYZE_PASSWORD}"

[SYSLOG]
# Send logs to central logserver (Loki on callisto)
ENABLE_SYSLOG="true"
SYSLOG_SERVER="callisto.home.jupiter.au"
SYSLOG_PORT="514"
